[Unit]
Description=Exhibition FastAPI Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/exhibition/backend
Environment="PATH=/home/ubuntu/exhibition/backend/exhibition/bin"
ExecStart=/home/ubuntu/exhibition/backend/exhibition/bin/uvicorn app.main:app --host 127.0.0.1 --port 8002
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
